.history-page {
  background-image: url("../../public/images/spelmanbackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
}

.history-page .page-title-box {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.history-page .page-title-box h2 {
  background-color: #114448;
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  font-size: 1.7rem;
}

.history-sections {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  max-width: 1200px;
}
