.title-box {
  background-color: #B9D9EB;
  padding: 20px 30px;
  border: 1px solid #114448;
  font-weight: bold;
  font-size: 1.2rem;
  color: #114448;
  margin-bottom: 30px;
  text-align: center;
}
